<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rest.android.appresttest">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon2"
        android:logo="@mipmap/app_icon2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:icon="@mipmap/app_icon2">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Ingresar.IngresarActivity"
            android:label="@string/title_activity_ingresar"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".MainActivity">
            <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.rest.android.appresttest.MainActivity"/>
    </activity>
        <activity
            android:name=".Modificar.ModificarActivity"
            android:label="@string/title_activity_modificar"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".Consulta.ConsultarActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rest.android.appresttest.MainActivity"/>
        </activity>
        <activity
            android:name=".Eliminar.EliminarActivity"
            android:label="@string/title_activity_eliminar"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".Consulta.ConsultarActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rest.android.appresttest.MainActivity"/>
        </activity>
        <activity
            android:name=".Consulta.ConsultarActivity"
            android:label="@string/title_activity_consultar"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.rest.android.appresttest.MainActivity"/>
        </activity>
    </application>

</manifest>